footer {
    text-decoration: none;
}

.Copyright {
    text-align: right;
    font-size: 0.7em;
    font-weight: lighter;
}

i a {
    font-size: 2em;
    margin-right: 2em;
}

.logoOblog {
    font-size: 2em;
}